<!--<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">-->
<!--  <div class="container-fluid">-->
<!--    <div class="collapse navbar-collapse justify-content-end" id="navigation">-->
<!--      Hi {{loginRes.userName}}!-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<mat-toolbar>
  <span>Welcome {{loginRes.userName}}!</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
