<div class="main-content">
  <div class="container-fluid">
    <mat-card>
      <mat-card-title><h1>Search User Info</h1></mat-card-title>
      <mat-card-header>

        <form [formGroup]="searchUserForm">
          <div class="row">

            <mat-form-field color="accent" appearance="fill" hintLabel="Max 11 characters">
              <mat-label>Account No.</mat-label>
              <input matInput #input maxlength="11" placeholder="017***" formControlName="phoneNumber" required>
            </mat-form-field>

            <div>
              <button mat-raised-button color="primary" class="pull-right" type="submit"
                      [disabled]="searchUserForm.status === 'INVALID'" (click)="search()">Search
              </button>
            </div>

          </div>
        </form>

      </mat-card-header>
    </mat-card>

    <div *ngIf="dataFound" class="mat-elevation-z8">

      <mat-card>

      <div>Account No: {{user.phoneNumber}}</div>

      <mat-divider></mat-divider>

      <div>Name: {{user.userName}}</div>

      <mat-divider></mat-divider>

      <div>User Type: {{user.userType}}</div>

      <mat-divider></mat-divider>

      <div>NID: {{user.nid}}</div>

      <mat-divider></mat-divider>

      <div>Date of Birth: {{user.dob}}</div>

      <mat-divider></mat-divider>

      <div>Address: {{user.presAddress}}</div>
      </mat-card>

    </div>
  </div>
</div>
