<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">

          <div class="card-header card-header-danger">
            <h4 class="card-title">Cash In to Customer Account</h4>
          </div>

          <div class="card-body">

            <form [formGroup]="cashInForm">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Customer Account No.</mat-label>
                    <input matInput placeholder="017***" type="text" formControlName="cuAccNo" maxlength="11" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="0" type="text" formControlName="amount" maxlength="10" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Pin</mat-label>
                    <input matInput [type]="hidePin ? 'password' : 'text'" formControlName="pin" maxlength="4" required>
                    <button mat-icon-button matSuffix (click)="hidePin = !hidePin" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidePin">
                      <mat-icon>{{hidePin ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="cashInForm.status === 'INVALID'" (click)="confirmCashIn()">Confirm</button>
              <div class="clearfix"></div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

