<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">

          <div class="card-header card-header-danger">
            <h4 class="card-title">User Profile</h4>
          </div>

          <div class="card-body">

            <div>Account No: {{user.phoneNumber}}</div>

            <mat-divider></mat-divider>

            <div>Name: {{user.userName}}</div>

            <mat-divider></mat-divider>

            <div>User Type: {{user.userType}}</div>

            <mat-divider></mat-divider>

            <div>NID: {{user.nid}}</div>

            <mat-divider></mat-divider>

            <div>Date of Birth: {{user.dob}}</div>

            <mat-divider></mat-divider>

            <div>Address: {{user.presAddress}}</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

